@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
  font-family: "Lato", sans-serif;
  color: #54575a;
}

.wrapper {
  position: relative;
  width: 1440px;
  height: 1370px;
  margin: auto;
}

.brand-img {
  position: absolute;
  width: 193px;
  height: 47.64px;
  left: 221px;
  top: 50.25px;
}

.title {
  position: absolute;
  width: 458px;
  height: 135px;
  left: 221px;
  top: 236px;
  font-size: 64px;
  line-height: 67px;
}

.text {
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-size: 20px;
  line-height: 32px;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 221px;
  top: 531px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px;
}

.google-store-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  left: 381.81px;
  top: 531px;
}

.google-store-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  left: 683.28px;
  top: 229.73px;
}

.main-image-container img {
  height: 411.15px;
}

.profile-img {
  position: absolute;
  height: 470px;
  left: 737px;
  right: 479px;
  top: 686px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.orders-img {
  position: absolute;
  height: 470px;
  left: 479px;
  right: 737px;
  top: 913px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.home-img {
  position: absolute;
  height: 470px;
  left: 995px;
  right: 221px;
  top: 908px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.cart-img {
  position: absolute;
  height: 222px;
  left: 221px;
  right: 995px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.product-img {
  position: absolute;
  height: 222px;
  left: 737px;
  right: 479px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.background-toggles {
  position: absolute;
  right: 150px;
  top: 70px;
  display: flex;
}

.background-toggles > div {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.background-1 {
  background-color: #fff9f5;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23fab131' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.background-2 {
  background-color: #fff9f5;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2354575a' fill-opacity='0.09'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-3 {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
